

/* footer */

#span 
{ text-decoration: none;
	text-align: center;
	}

.copyright {
	text-align: center;
	text-decoration: none;
}

.copyright, .copyright a {
	font-weight: normal;
	font-size: 12px;
	color: #989994;
	text-decoration: none;
}

.copyright a:hover {
	color: #fff;
	text-decoration: none;
}